.setting-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 2px;
  align-items: center;
}

input {
  padding: 8px 2px;
  text-align: center;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  font-size: 16px;
  background-color: var(--color-accent);
  color: var(--color-text);
  outline: none;
  width: 20%;
}

input:hover {
  background-color: var(--color-bg);
}

.chevron {
  transition: transform 0.3s ease;
  align-self: center;
  width: 25px;
  height: 15px;
  color: var(--color-primary);
}

details[open] .chevron {
  transform: rotate(180deg);
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.checkbox-wrapper: {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 8px;
  font-family: sans-serif;
  font-size: 16px;
}

.checkbox-wrapper input {
  display: none;
}

.checkbox-wrapper input:checked+.checkmark {
  background-color: var(--color-primary);
  border-color: var(--color-muted);
  box-shadow: 0 0 8px var(--color-primary);
  transform: scale(1.1);
}

.checkbox-wrapper input:checked+.checkmark::after {
  transform: rotate(45deg) scale(1);
}

.checkbox-wrapper input:checked+.checkmark {
  animation: pop 0.2s ease;
}

@keyframes pop {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.checkmark {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 2px solid var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.checkmark::after {
  content: '';
  width: 6px;
  height: 12px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg) scale(0);
  transition: transform 0.3s ease;
  position: absolute;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
