:root {
  --color-bg: #f9f5f1;
  --color-surface: #ede0d4;
  --color-primary: #7f5539;
  --color-secondary: #9c6644;
  --color-accent: #ddb892;
  --color-text: #432818;
  --color-muted: #b08968;
}

html, body {
  font-family: sans-serif;
}

h1 {
  font-weight: 400;
  letter-spacing: 1.5px;
}


