:root {
  --color-bg: #f9f5f1;
  --color-surface: #ede0d4;
  --color-primary: #7f5539;
  --color-secondary: #9c6644;
  --color-accent: #ddb892;
  --color-text: #432818;
  --color-muted: #b08968;
}

html, body {
  font-family: sans-serif;
  flex: 1;
  padding: 20px;
  overflow-y: hidden; /* or just remove this line entirely */
}

h1 {
  font-weight: 400;
  letter-spacing: 1.5px;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--color-accent);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-muted);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}


